$museo-font-family: "MuseoModerno" !default;
$museo-font-path: "../fonts" !default;

$icon-font-family: "icon" !default;
$icon-font-path: "../fonts" !default;

$icon-facebook: "\ea90";
$icon-instagram: "\ea92";
$icon-twitter: "\ea96";
$icon-linkedin: "\eaca";
$icon-pinterest: "\ead2";

$main-color: #c70101;
